/*https://www.w3schools.com/colors/colors_trends.asp*/
/*https://www.crazyegg.com/blog/website-color-palettes/*/
/*grenadine: #DA413D*/
/*tawny port: #672E3B*/
/*bright blue: #67BCDB*/

body {
  margin: 0 auto;
}

#welcome {
  min-height: 180px;
  min-width: 200px;
  font-size: 1em;
  height: 40%;
  width: 70%;
  margin: 0%;
  padding: 3%;
  color: black;
  background: rgba(255, 255, 255, .9);
  border-radius: 10px;
}

.error {
  color: red;
}

.main {
  width: 100vw;
}

.container {
  border: solid white;
  border-radius: 10px;
  min-height: 205px;
  width: 80%;
  height: 65%; 
  padding: 5%;
  margin: 5%;
  background: rgba(255, 255, 255, .9);
}

.splashBtn {
  margin-right: 2%;
  margin-bottom: 1%;
}

/*****************/
/*navbar section*/
/****************/

.navbar {
  margin:0;
  background-color: #DA413D !important;
  border: solid #DA413D !important;

}

.navbar-brand {
    color: #FFFFFF !important;
}

.navbar-right {
  margin-right: 1em;
}

.nav-link {
  color: #DA413D;
}

#welcome-background {
  width: 100vw;
  height: 100vh;
  padding: 10%;
  background-repeat: no-repeat;
  background: url(../src/images/White-Spiral-Cellar-higher-res.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/***********************/
/*wine profile section*/
/*********************/

#wine-profile {
  background-color: #F5F3EE;
  width: 100vw;
  height: 100vh;
}

.profile-text {
  color: #3B3738;
  margin: 1em;
  font-size: 1.2em;
  font-family: 'BioRhyme', serif;
}

/*******************************/
/*wine profile row one section*/
/******************************/

.row-one {
  width: 100%;
  height: 120px;
  /*background-color: red;*/
  padding-top: 60px;
  background-color: #F5F3EE;
  border: solid #F5F3EE;
}

/*******************************/
/*wine profile row two section*/
/******************************/

.row-two {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
  background-color: grey;
  border-bottom: solid 2px #DA413D;
  overflow: scroll;
}

.bottle-img {
  margin-right: 1%;
  margin-left: 1%
}

.user-profile {
  width: 20%;
  height:100%;
  padding:1%;
  padding-left: 2%;
  background-color: #DFE2DB;
}

.circle {
  border-radius: 50%;
  width: 45%;
  padding-bottom: 45%;
  background: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url('../src/images/sherlockholmes.png');
}

.wine-bottles {
  background-color: white;
  padding-top: 20px;
  height: 100%;
  width: 80%;
}

/********************************/
/*wine profile row four section*/
/******************************/

.row-four {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #F5F3EE;
  margin-top: 10px;
}

.following {
  background-color: #F5F3EE;
  height: 100%;
  width: 20%;
  /*border: solid purple;*/
  padding: 1%;
}

.rated-wine-all {
  background-color: white;
  height: 100%;
  width: 55%;
  border: solid thin white;
  border-radius: 2%;
  padding: 1%;
  margin-top: 1%;
}

.local-businesses {
  background-color: #F5F3EE;
  height: 100%;
  width: 25%;
  /*border: solid purple;*/
  padding: 1%;
}

footer {
  height: 20px;
  width: 100vw;
  background-color: black;
}

#signout {
  padding-top: 5%;
  padding-left: 5%;
}
