
body {
  margin: 0 auto;
  background-image: url("../src/images/White-Spiral-Cellar-higher-res.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#welcome {
  display: flex;
  height: 50vh;
  width: 60vw;
  margin: 10%;
  padding: 3%;
  color: black;
  /*border: solid purple;*/
  /*background-color: green;*/
  /*background-image: url("../src/images/White-Spiral-Cellar-higher-res.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  background: rgba(255, 255, 255, .9);
  border-radius: 10px;
}
.error {
  color: red;
}
.main {
  width: 100vw;
  /*background-color: purple;*/
  
}
.container {
  border: solid white;
  border-radius: 10px;
  /*background-color: green;*/
  width: 80%;
  height: 80%; 
  padding: 5%;
  margin: 5%;
  background-color: white;
}

.navbar {
  margin:0;
}

h1 {
  font-size: 4em;
}

h3 {
  margin-bottom: 1em;
}