/*https://www.w3schools.com/colors/colors_trends.asp*/
/*grenadine: #DA413D*/
/*tawny port: #672E3B*/



body {
  margin: 0 auto;
  background-repeat: no-repeat;
  background: url(../src/images/White-Spiral-Cellar-higher-res.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#welcome {
  display: flex;
  height: 50%;
  width: 60vw;
  margin: 10%;
  padding: 3%;
  color: black;
  background: rgba(255, 255, 255, .9);
  border-radius: 10px;
}

.error {
  color: red;
}

.main {
  width: 100vw;
}

.container {
  border: solid white;
  border-radius: 10px;
  width: 80%;
  height: 80%; 
  padding: 5%;
  margin: 5%;
  background: rgba(255, 255, 255, .9);
}

.navbar {
  margin:0;
  background-color: #DA413D !important;
  border: solid #DA413D !important;

}

.navbar-brand {
    color: #FFFFFF !important;
}

h1 {
  font-size: 1em;
}

h3 {
  margin-bottom: 1em;
}

.splashBtn {
  margin-right: 2%;
  margin-bottom: 1%;
}

.navbar-right {
  margin-right: 1em;
}

.nav-link {
  color: #DA413D;
}

#wine-profile {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}

#wine-profile {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}

.row-one {
  width: 100%;
  height: 150px;
  background-color: #F5F3EE;
  border: solid #F5F3EE;
}

.row-two {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  background-color: grey;
  border-bottom: solid 2px #DA413D;
}

.row-three {
  width: 100%;
  height: 100%;
  background-color: #F5F3EE;
  border: solid #F5F3EE;
  padding: 1%;
}

.user-profile {
  background-color: #DFE2DB;
  height: 100%;
  width: 20%;
}

.wine-bottles {
  background-color: white;
  height: 100%;
  width: 80%;
}
